.background {
    background-image: url('city.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.background:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.9);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 200px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
    z-index: 1;
}
.text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
    z-index: 1;
}
@media screen and (min-width: 1200px) {
    .clock {
        font-size: 110px;
    }
}